* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER SECTION */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: linear-gradient(#000, #333);

    width: 100vw;
    height: 100vh;
}

/* LIGHT MODE */
.container.light-mode {
    background-image: linear-gradient(#FFF, #187027b9);
}

.container.light-mode h2 {
    color: #ff0000; 

    text-shadow: 2px 1px #fbff00;
}

.container.light-mode .cards-candles {
    background-color: #FFF;
}

/* HEADER SECTION */
.container h2 {
    color: #73ff00; 

    font-family: fantasy;
    font-size: 2.5rem;
    text-shadow: 2px 1px #FFF;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.switch {
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 34px;

    margin-left: 15rem;
    margin-top: 0.5rem;
    
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f3de21;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f3f021;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    border: 0.5px #FFF solid;
    background-color: #000;
}

.slider.round:before {
    border-radius: 50%;
    background-color: #bbbbbb;
}

/* SECTION WIN/LOSS */
.response-answer {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    z-index: 1;
}

.response-answer.right-answer h2{
    font-size: 3rem;
    text-align: center;
    
    color: #73ff73; 
    text-shadow: 2px 1px #FFF;
}

.response-answer.wrong-answer h2{
    font-size: 3rem;
    text-align: center;
    
    color: #ff0000; 
    text-shadow: 2px 1px #FFF;
}

/* SECTION CARDS */
.cards-candles {
    width: 15rem;
    height: 30.5rem;

    background-color: #313131;
    /* border-radius: 20px; */
    
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9), 0 3px 3px rgba(0, 0, 0, 0.9);

    margin-bottom: 3rem;

    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: .3s;
}

.cards-candles img {
    width: 13rem;
    height: 13.3rem;

    border-radius: 25px;
}

/* SECTION INPUT */

.input-section {
    display: flex;
    flex-direction: column;
    
    margin-top: 1rem;
}

.input-section label {
    font-family: serif;
    font-size: 1rem;
    font-style: italic;
    
    color: #74ff33;
}

.form_field {
    width: 20rem;
    height: 2rem;

    font-family: sans-serif;
    font-size: 1rem;

    border: 0;
    border-bottom: 2px solid #ffffff;
    outline: 0;

    color: #73ff00;

    background: transparent;
    transition: border-color 0.2s;

}

.form_field::placeholder {
    color: transparent;
}

.form_field:placeholder-shown ~ .form_label {
    font-size: 1.3rem;
    cursor: text;
    top: 27rem;
}

.form_label {
    position: absolute;
    top: 26rem;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9B9B9B;
}
  
.form_field:focus ~ .form_label {
    position: absolute;
    top: 25.5rem;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #FFF;
    font-weight:700;    
}

.form_field:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;

    border-bottom: 2px solid #73ff00;
}


/* reset input */
.form_field:required, .form_field:invalid{
    box-shadow:none; 
}

/* SECTION BUTTON */
form .action-button {
    width: 7rem;
    height: 4rem;

    margin: 1.5rem 6rem 1rem;

    border-radius: 0.6rem;

    cursor: pointer;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

form .action-button:hover {
    background-color: #73ff00;
}

@media (min-width: 700px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .form_field:placeholder-shown ~ .form_label {
        top: 37.8rem;
    }
    
    .form_label {
        top: 36rem;
    }
      
    .form_field:focus ~ .form_label {
        top: 36rem;    
    }
}